target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
02configureAuthorization/mvnw
02configureAuthorization/mvnw.cmd
02configureAuthorization/.mvn/
03spring-security-jdbc/.mvn/
03spring-security-jdbc/mvnw.cmd
03spring-security-jdbc/mvnw
04spring-security-jpa/mvnw.cmd
04spring-security-jpa/mvnw
04spring-security-jpa/.mvn/wrapper/maven-wrapper.properties
04spring-security-jpa/.mvn/wrapper/maven-wrapper.jar
04spring-security-jpa/.mvn/wrapper/MavenWrapperDownloader.java
04spring-security-jpa/.mvn/
05spring-security-jwt/.mvn/
05spring-security-jwt/mvnw.cmd
05spring-security-jwt/mvnw
